
.header{
    background-color: darkred;
    font-family: cursive;
}
.nav{
    background-color: chocolate;
}

.card{
    background-color: blue;
    padding-left: 50px;
  padding-right: 70px;   
}
#phone{
    box-shadow:solid  chocolate;
    padding-left: 70px;
}