nav.navbar {
  background: rgba(226, 200, 160, 0.877);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0.6rem;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: rgba(0, 0, 0, 0.911);
  border-color: rgba(0,0,0,.1);
}

.navbar-toggler-icon {
 
  background-image: url('../assets/menu.png');
  color: black !important;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-size: 100% 100%;
}

ul.links-list {
  display: flex;
  flex-direction: row;
}

li.nav-item {
  list-style-type: none;
  margin-left: 40px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a.is-active {
  color: maroon;
}

.container {
 width: 80%;
 margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .navbar-toggler {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-toggler {
    display: block;
  }

  div.navbar-links {
    margin-right: 0;
    position: absolute;
    width: 75%;
    background: rgba(226, 200, 160, 0.877);
    z-index: 99;
    margin-top: 3rem;
    float: right;
    right: 0;
    height: 100vh;
    transition: all ease-in-out 0.3s;
    align-self: flex-start;
    border-top: 3px solid maroon;
  }

  ul.links-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .navbar-links.menu-collapse {
    margin-right: -75%;
    width: 0;
    overflow: hidden;
  }

  
  .menu-collapse {
    margin-right: -75%;
    width: 0;
    overflow: hidden;
  }
}